doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Your Comment Was Removed
    body
        h1 Tutorial Title:
        h2 #{tutorialTitle}
        br
        h2 Your Comment:
        p #{comment}
        br
        p Your Comment Was Recognzied As Either Inappropriate or Irrelevant.
        br
        h4 Regards,
        h4 Sehub Support Team 