doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Password Changed
    body
        h1 Your New Password: 
        br
        p #{pass}
        br
        p This Password Is Randomly Genereted
        br
        p Please Change Your Password Immediately After Your First Authentication With this Password
        p Regards, 
        P Sehub Support Team