doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Sehub Checked Your Request 
    body
        h1 Your Request Title:
        h2 #{requestTitle}
        br
        h2 Your Request Description:
        p #{requestDesc}
        br
        h1 Sehub Response Title:
        h2 #{responseTitle}
        br
        h1 Sehub Response Description:
        p #{responseDesc}
        br
        h3 You Can Help Us With Your Great Content Suggestions
        br
        h4 Regards,
        h4 Sehub Support Team 