doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Verificaiton
    body
        h1 Sehub Email Verification
        br
        h2 Your Email Successfully Verified. 
        h2 Enjoy Your Software Engineering Experience.
        br
        p Regards,
        p Sehub Support Team