doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Welcome
    body
        h1 Welcome To Sehub Software Engineering Community,
        br
        p  To Verify Your Email Address, Click On the Link Below.
        br
        p #{url}